/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&family=Montserrat:wght@500&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/*     font-family: "Playfair Display", serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* "Playfair Display", serif */


:root{
    --mainColor:#FF5A5A;
}
body{
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
}
.bg_mainColor{
    background-color: var(--mainColor);
}

.text_mainColor{
    color: var(--mainColor);
}x
.border_mainColor{
    border-color: var(--mainColor);
}

li{
    list-style: none;
}

/* navbar css */
/* .navbar .navbar-toggler{
    border-radius: 50%;
    width: 30px;
    height: 30px;

} */

.navbar .search input{
    border: none;
    box-shadow: none;
    background-color:  rgba(0, 0, 0, 0);
}
   
.navbar .search{
    border: 1px solid var(--mainColor);
} 

.search button:hover, .search i:hover{
    background-color: white;
}
.navbar-nav .nav-link.active {
    color: var(--mainColor) !important;
    font-size: 14px;
    font-weight: 700;
}

.nav-link{
    /* color: #1D3557; */
    color: #457B9D;
    font-size: 14px;
    font-weight: 700;
} 

.navbar .search .btn{
    border: rgba(0, 0, 0, 0);;
}
.navbar .search .btn:hover{
    background-color: none;
}
.navbar .search input::placeholder{
    /* color: #1D3557 !important; */
    color: #457B9D;
    font-size: 13px;
}

/* header css */
.header .title a{
    color: #457B9D;
    font-size: 16px;
    font-weight: bold;
}

.headerimg img{
    width: 100%;
    /* position: relative;
    z-index: -1;
    margin: 0;
    padding: 0; */
}

.header .contact-form{
    background-color: #fafafa;
    border-radius: 30px;
}
.header .contact-form input, .header .contact-form textarea, .header .contact-form button{
    background-color: #fafafa;
    /* border-bottom: 1px solid rgb(168, 218, 220) !important */
    border-color: rgb(168, 218, 220) !important;
    box-shadow: none;
    
}
.header .contact-form button{
    color: #1D3557;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-weight: bold;
    border-width: 2px;
}
.header .contact-form button:hover{
    background-color: #A8DADC;
    color: #fff;
}

.header .contact-form h1{
    font-size: 48px;
    color: #1D3557;
    font-family: "Playfair Display", serif;
    font-weight: 600;

}
.header .contact-form p{
    color: rgb(69, 123, 157);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.header .contact-form input::placeholder, .header .contact-form textarea::placeholder{
    color: rgb(69, 123, 157);
    font-size: 12px;

}

/* contact */
.contactInfo .cardInfo{
    border-color: rgb(168, 218, 220) !important;
    

}
.contactInfo .cardInfo h2{
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    position: relative;
}
.contactInfo .cardInfo a, .contactInfo .cardInfo p{
    color: black;
    font-size: 24px;
    font-weight: 500;
} 

.contactInfo .cardInfo h2::after{
    content: '';
    width: 50px;
    height: 1px;
    background-color: rgb(69, 123, 157);
    position: absolute;
    bottom: -10px;
    left: 110px;
}

.contactInfo .cardInfo a:not(.except):hover{
    color: #457B9D;
}

.contactInfo .col-md-4{
    width: 368px !important;
    height: 246px !important;
}

/* footer */
.footer ul{
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: #457B9D;
    font-size: 18px;
    font-weight: 500;
}
.footer p{
    text-decoration: none;
    color: #457B9D;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.footer .icons{
    font-size: 19px;
    color: rgb(69, 123, 157);
}

.footer h3{
    color: #1D3557;
    font-size: 24px;
}

.footer .footer-content{
    background-color: #F7F8F9;
    border-radius: 100px 100px 0 0;
}

.footer-content ul a{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.footer-content ul a:hover{
    color: var(--mainColor);
    padding-left: 10px;
}

.footer-content .icons i:hover{
    color: var(--mainColor);
}

.footer-content h3{
    position: relative;
    padding-bottom: 10px;
}
.footer-content h3::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #E63946;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer .payment i{
    color: #eb3e32;
    font-size: 13px;
}

.footer .payment p{
    color: #1D3557;
    font-size: 14px;
}

.footer .payment span:hover{
    color: var(--mainColor);
    cursor: pointer;
}


@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px !important;
        font-weight: 600;
       
}
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px !important;
    }
}
    